.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    justify-items: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.popup__form-container {
    box-sizing: border-box;
    max-width: 430px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 195px auto auto auto;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .popup__form-container {
        width: calc(100% - (19px + 19px));
    }
}

.popup__escape-button {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    background-image: url("./images/close_popup_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -35px;
    right: -35px;
}

.popup__escape-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__escape-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

.popup__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup__form-title {
    max-width: 330px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px auto 54px 36px;
}

@media (max-width: 768px) {
    .popup__form-title {
        width: calc(100% - 44px);
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 22px;
    }
}

.popup__save-button {
    width: calc(100% - (36px + 36px));
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 48px 36px 37px 36px;
    color: #ffffff;
    border: rgba(0, 0, 0, 0);
    padding: 0;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup__save-button {
        width: calc(100% - 44px);
        margin: 45px 22px 25px 22px;
        height: 46px;
        font-size: 14px;
    }
}

.popup_active {
    display: block;
    visibility: visible;
    opacity: 1;
}

.popup__form-input {
    width: 100%;
    max-height: 27px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__form-input::target-text {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__form-input::placeholder {
    max-width: 358px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4d4d4d;
}

.popup__form-name {
    max-width: 358px;
    margin-left: 36px;
}

.popup__form-description {
    max-width: 358px;
    margin-left: 36px;
    margin-top: 57px;
}

@media (max-width: 768px) {
    .popup__form-name {
        margin-left: 22px;
    }
}

@media (max-width: 768px) {
    .popup__form-description {
        margin-left: 22px;
    }
}
