.photo__like {
    border: none;
    background-image: url("../../../images/like_disabled.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    padding-right: 30px;
    background-size: contain;
    background-color: #fff;
}

.photo__like:hover {
    cursor: pointer;
    opacity: 0.6;
}
