.card__item-like-button {
    background-image: url("../../../images/like_disabled.svg");
    border: none;
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    padding-right: 30px;
    align-self: center;
    display: block;
}

.card__item-like-button:hover {
    cursor: pointer;
    background-image: url("../../../images/like_hover.svg");
}
