.profile__avatar-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.6s linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 30px 0 0;
}

.profile__avatar-image:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 1024px) {
    .profile__avatar-image {
        margin: 0 0 20px 0;
    }
}
