.popup__form-container {
    box-sizing: border-box;
    max-width: 430px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 195px auto auto auto;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

@media (max-width: 768px) {
    .popup__form-container {
        max-width: 288px;
    }
}
